@import 'reset.scss';

:root {
    --main-font: 'Montserrat', Aerial;
}

.App {  
    display: flex;
    flex-direction: column;

    padding: 0 20px;

    background-color: #333333;
    color: #fff;
}

html, body, #root, .App {
    height: 100%;
}

.content {
    flex-grow: 1;

    margin-bottom: 30px;
}